[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mathfilters = "*"
django-crispy-forms = "*"
pillow = "*"
django-schema-graph = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
social-auth-app-django = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"
