{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<br/>
<div class = 'container'>
  <h1>Reset Password</h1>
  <hr/>
  <form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <div class = 'inline block'>
    <button type="submit" class = 'btn btn-primary'>Reset password</button>
    <a href = "{% url 'profile' %}" class = 'btn btn-success'><span class="oi oi-arrow-left"></a>
    </div>
  </form>
  <br/>
  <a href = '{% url "password_reset" %}' id = 'reset'><p>Forgot Password ?</a>
</div>
{% endblock %}
