{% extends 'base.html' %}
{% block content %}
<br/>
<h1>Sign Up😉👇🏻</h1>
<hr/>
{% if error %}
<br/>
<h3 class='bg-danger'style='max-width:45%;'>{{error}}</h3>
{% endif %}

<form method='POST' action="{% url 'signup' %}">
{% csrf_token %}
Username:
<br/>
<input type='text' name='Username'/>
<br/>
Password:
<br/>
<input type='password' name='password1' />
<br/>
Confirm Password:
<br/>
<input type='password' name='password2' />
<br/>
<br/>
<input class='btn btn-primary' type='submit' value='Sign Up'/>


</form>

{% endblock %}
