{% extends 'base.html' %}
{% block content %}
<br/>
<h1>Sign Up😉👇🏻</h1>
<hr/>
{% if error %}
<h3 style='color:red;'>{{error}}</h3>
{% endif %}

<form method='POST' action="{% url 'signup' %}">
  {% csrf_token %}
  Username:
  <br/>
  <input type='text' name='Username'/>
  <br/>
  Password:
  <br/>
  <input type='password' name='password1' />
  <br/>
  Confirm Password:
  <br/>
  <input type='password' name='password2' />
  <br/>
  <br/>
  <h5 class = 'text-muted'>Having account already ?<a href = '{% url "login" %}' id = 'lo'> Login</a></h5>
  <br/>
  <br/>
  <input class='btn btn-primary' type='submit' value='Sign Up'/>


</form>

{% endblock %}
