{% extends 'base.html' %}
{% block content %}
<br/>

<h1>About Us</h1>
<hr/>
We are the people who support our Users in managing their expenses easily and efficiently. We are a set of Students studying 12th Grade. This Website was built for our project purposes through Django. Hope this website served its purpose for our Customers. We serve for our Customers' Satisfactions.
Thank You for using our Expense Manager. Any issues feel free to report it through the Customer Support
For Customer Support click the "Email Us" button below .</p>

<a href="mailto:clashwithchiefrpjyt@gmail.com" class="btn btn-success my-2">Email Us</a>
<br/>
<a href='{% url "home" %}' class='btn btn-success my-2'><span class="oi oi-arrow-left"></span></a>
</p>

{% endblock %}
