{% extends 'base.html' %}
{% block content  %}
{% load mathfilters %}
<div class='container'>
  <h1>Analysis</h1>
  <hr/>
  <div class="col-lg-4 ">
    <form action = "{% url 'report' %}">
      <select name = 'repo'>
        <option value = 'Expense'>Expense Reports</option>
        <option value = 'Budget'>Budget Reports</option>
      </select> <button type = 'submit' class = 'btn btn-primary'>Generate Reports</button>
    </form>
  </div>
  <br/>
  <div class = 'row'>
    <div class = 'col-lg-4 col-md-6'>
      <div class="card card border-success mb-3" >
        <div class="card-body">
          <a href = "{% url 'budgetcharter' %}" id =banalytics>
            <h3 class="card-title">Total Budget :</h3>
            <h3 style = 'font-size:40px'>$ {{totalbudget.total|sub:totalexpense.total}}</h3></a>
          </div>
        </div>
      </div>
      <div class = 'col-lg-4 col-md-6'>
        <div class="card card border-success mb-3" >
          <div class="card-body">
            <a href = '{% url "expensecharter" %}' id = 'eanalytics'>
              <h3 class="card-title" >Total Expense{{hey.count|pluralize}} :</h3>
              <h3 style = 'font-size:40px'>$ {{totalexpense.total}}</h3>
            </a>
          </div>
        </div>
      </div>
      <div class = 'col-lg-4 col-md-6'>
        <div class="card card border-success mb-3" >
          <div class="card-body">
            <h3 class="card-title">Total Transaction{{hey.count|pluralize}}:</h3>
            <h3 style = 'font-size:40px'>{{hey.count}}</h3>
          </div>
        </div>
      </div>
      <div class = 'container' >
        <div class = 'container' style="position: relative;">
          <canvas id = 'mixedchart'></canvas>
        </div>
      </div>
      <div class='container d-inline-block'>
        <a href ='{% url "detail" %} ' class = 'btn btn-primary'>Dashboard</a>
        <a href ='{% url "expense" %} ' class = 'btn btn-primary'>Add Expense</a>
        <a href ='{% url "budget" %} ' class = 'btn btn-primary'>Add Budget</a>
      </div>
    </div>
  </div>
  <script>
  var mixedchart = {
    type: 'line',
    data: {
      datasets: [{
        label: 'Expense',
        data: {{expensedatas|safe}},
        order: 1,
        borderColor: '#FF6347',
        backgroundColor: 'rgba(0,0,0,0)',
      }, {
        label: 'Budget',
        data: {{budgetdatas|safe}},
        type: 'line',
        borderColor: '#7CFC00',
        backgroundColor: 'rgba(0,0,0,0)',
        order: 2
      }],
      labels: {{expenselabels|safe}}
    },
    options: {
      responsive: true,
      yAxes: [{
        ticks: {
          beginAtZero: true
        },
      }],
      layout: {
        padding: {
          left: 50,
          right: 0,
          top: 0,
          bottom: 0
        }
      },
    },
  };
  window.onload = function() {
    var ctx = document.getElementById('mixedchart').getContext('2d');
    window.myLine = new Chart(ctx, mixedchart);};

    </script>
    {% endblock%}
