{% extends 'base.html' %}
{% block content %}
<div class = 'container'>
  <h1>Budget Analysis</h1>
  <hr/>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-lg-4 col-md-6' >
        <canvas id="budget-pie-chart" class="chartjs-render-monitor" style = 'width: 50%;'></canvas>
      </div>
      <div class = 'col-lg-2'>
        <br/>
        <br/>
      </div>
      <div class = 'col-lg-6 col-md-6' >
        <canvas id="budget-bar-chart" height="250" width = '300' class="chartjs-render-monitor"></canvas>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class = 'row inline-block'>
    <canvas id="budget-line-chart" style = 'display: block;width: 545.406px; height: 172px;' class="chartjs-render-monitor"></canvas>
  </div>
  <script>

  var budgetpiechart = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{ budgetdatas|safe }},
        backgroundColor: [
          '#7CFC00','#FF7F50','#00FA9A','#9370DB','#FFD700','#FF00FF','#FF0000'
        ],
        borderColor: 'black',
        label: 'Budget'
      }],
      labels: {{ budgetlabels|safe }}
    },
    options: {
      responsive: true,
      legend: {
        labels: {
          fontColor: 'black',
          fontFamily:'Helvetica Neue',
        }
      },
    }
  };
  var budgetbarchart = {
    type: 'bar',
    data: {
      datasets: [{
        maxBarThickness: 4,
        minBarLength: 2,
        data: {{ budgetdatas|safe }},
        backgroundColor: [
          '#DC143C','#00FA9A','#9370DB','#FFD700','#FF00FF','#A0522D','#FF7F50'
        ],
        borderColor:[
          'black','black','black','black','black'
        ],
        borderWidth: 1,
        label: 'Budgets',
        borderColor: 'black',
      }],
      labels: {{ budgetlabels|safe }}
    },
    options: {
      responsive: true,
      legend: {
        labels: {
          fontColor: 'black',
          fontFamily:'Helvetica Neue',
        }
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          categoryPercentage: 0.4,
          barPercentage: 0.4,
        }],
        xAxes: [{
          categoryPercentage: 0.4,
          barPercentage: 0.4,
          gridLines: {
                offsetGridLines: true
            },
        }]
      }
    },
  };
  var budgetlinechart = {
    type: 'line',
    data: {
      datasets:[{
        data: {{linedatas|safe}},
        hoverBackgroundColor: 'white',
        backgroundColor: '#008b8b',
        label: 'Budget',
        borderColor: 'rgb(110,0,255)',
        pointBorderColor: 'rgb(110,0,255)',
        backgroundColor: 'rgba(110,0,255,0.3)',
      }],
      labels: {{linelabels|safe}}
    },
    options: {
      responsive: true,
      legend: {
        labels: {
          fontColor: 'black',
          fontFamily:'Helvetica Neue',
        }
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          categoryPercentage: 0.4,
          barPercentage: 0.4,
        }],
        xAxes: [{
          categoryPercentage: 0.4,
          barPercentage: 0.4,
        }]
      }
    },
  };

  window.onload = function() {
    var ctx = document.getElementById('budget-pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, budgetpiechart);
    var ctx1 = document.getElementById('budget-bar-chart').getContext('2d');
    window.myBar = new Chart(ctx1, budgetbarchart);
    var ctx2 = document.getElementById('budget-line-chart').getContext('2d');
    window.myLine = new Chart(ctx2, budgetlinechart);
  };
  </script>
  <br/>
  <a href = '{% url "detail" %}' class = 'btn  btn-success'><span class="oi oi-arrow-left"></a>
  </div>

</div>
</div>
{% endblock %}
