{% extends 'base.html' %}
{% block content %}
<br/>
<h1>Expenses</h1>
<hr/>
{% for expense in hey.all %}
{% if expense.title %}
<br/>
<div class='container'>
    <div class="col-6">
      <div class="card" >
        <div class="card-body">
          <h1 class="card-title">{{expense.title}}</h1>
          <hr/>
          <p class="card-text"><h2>${{expense.expense}}</h2></p>
          <p class='card-text'><h2>{{expense.category}}</h2></p>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class='container' style='position:absolute;padding:0px 0px 0px 800px;'>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Budget</h1>
      <hr/>
      <p class="card-text"><h2>${{expense.budget}}</h2></p>
    </div>
  </div>
</div>

{% endif %}
{% endfor %}
<br/>
<br/>
<div class='container'>
  <div class='card text-white bg-secondary mb-3' style="max-width: 13rem;">
    <a class='nav-item nav-link' href="{% url 'expense' %}"><h3>Add expense</h3></a>
  </div>
</div>
{% endblock %}
