{% extends 'base.html' %}
{% block content %}
<div class = 'container'>
  <br/>
  <h2>Expense Analysis</h2>
  <hr/>
  <div class=" container align-items-center">
    <div class = 'row'>
      <div class = 'col-lg-4 col-md-6' >
        <canvas id="expense-pie-chart" style = 'width: 50%;' class="chartjs-render-monitor"></canvas>
      </div>
      <div class = 'col-lg-2'>
        <br/>
        <br/>
      </div>
      <div class = 'col-lg-6 col-md-6'>
        <canvas id="expense-bar-chart" height="250" width = '300' class="chartjs-render-monitor"></canvas>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class = 'row inline-block'>
    <canvas id="expense-line-chart" style = 'width: 545.406px; height: 172px;' class="chartjs-render-monitor"></canvas>
  </div>
  <br/>
  <a href = '{% url "analysis" %}' class = 'btn  btn-success'><span class="oi oi-arrow-left"></a>
  </div>
  <script>

  var expensepiechart = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{ expensedatas|safe }},
        backgroundColor: [
          '#DC143C','#7FFF00','#7B68EE','#FF4500','#FFD700','#191970','#00FFFF'

        ],
        fillColor: '#0066ff',
        borderColor: 'black',
        label: 'Expense'
      }],
      labels: {{ expenselabels|safe }}
    },
    options: {
      responsive: true,
      legend: {
        labels: {
          fontColor: 'black',
          fontFamily:'Helvetica Neue',
        }
      },
    }
  };
  var expensebarchart = {
    type: 'bar',
    data: {
      datasets: [{
        maxBarThickness: 4,
        minBarLength: 2,
        data: {{ expensedatas|safe }},
        fill: false,
        backgroundColor: [
            '#DC143C','#7FFF00','#7B68EE','#FF4500','#FFD700','#191970','#00FFFF'
        ],
        borderColor:[
          'black','black','black','black','black'
        ],
        borderWidth: 1,
        label: 'Expense'
      }],
      labels: {{ expenselabels|safe }}
    },
    options: {
      responsive: true,
      legend: {
        labels: {
          fontColor: 'black',
          fontFamily:'Helvetica Neue',
        }
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          categoryPercentage: 0.4,
          barPercentage: 0.4,
        }],
        xAxes: [{
          categoryPercentage: 0.4,
          barPercentage: 0.4,
        }]
      },
    }
  };
  var expenselinechart = {
    type: 'line',
    data: {
      datasets:[{
        data: {{linedatas|safe}},
        hoverBackgroundColor: 'white',
        label: 'Expense',
        borderColor: 'rgb(255,0,0)',
        pointBorderColor: 'rgb(255,0,0)',
        backgroundColor: 'rgba(255,0,0,0.2)',
      }],
      labels: {{linelabels|safe}}
    },
    options: {
      responsive: true,
      legend: {
        labels: {
          fontColor: 'black',
          fontFamily:'Helvetica Neue',
        }
      },
      yAxes: [{
        ticks: {
          beginAtZero: true
        },
      }],
    },
  };

  window.onload = function() {
    var ctx = document.getElementById('expense-pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, expensepiechart);
    var ctx1 = document.getElementById('expense-bar-chart').getContext('2d');
    window.myBar = new Chart(ctx1, expensebarchart);
    var ctx2 = document.getElementById('expense-line-chart').getContext('2d');
    window.myLine = new Chart(ctx2, expenselinechart);
  };
  $(document).ready(function () {
    $('#page').fadeIn(1000).removeClass('hidden');
  });
  </script>

</div>
{% endblock %}
