{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if budget %}
<h3 style='text-align:center;color:green;' id='succ'><span class="oi oi-check"></span>{{budget}}</h3>

{% endif %}
<br/>
<br/>
<br/>
{% if user.is_authenticated %}
<div class='container' style=' position:fixed;top:145px;left:350px;'>
  <div class='box'>
    <div class='row'>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'budget.jpg' %}" class="card-img-top" height=200 width=200>
          <div class="card-body">
            <h3 class="card-title">Add Expense</h3>
            <p class="card-text">Add expenses here based on your budget. Manage your expenses efficiently. We will support you in doing it. Get started now 🙂.</p>

          </div>
          <div class="card-body">
            <a href="{% url 'expense' %}" class="card-link">Add Expense</a>
            <a href="{% url 'about' %}" class='card-link'>About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container'   style=' position:static;padding:1px 600px;'>
  <div class='box'>
    <div class='row'>
      <div class="col-md-4" >
        <div class="card" style="width: 18rem;">
          <img src="{% static 'expense.jpg' %}" class="card-img-top" height=200 width=200>
          <div class="card-body">
            <h3 class="card-title disabled ">Add Budget</h3>
            <p class="card-text">Add budget here based on your choices. Manage your transactions efficiently. We will support you in doing it. Get started now 🙂.</p>
          </div>
          <div class="card-body">
            <a href="{% url 'budget' %}"  class="card-link">Add Budget</a>
            <a href="{% url 'about' %}" class='card-link'>About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class='container ' style=' position:fixed;top:145px;left:370px;'>
  <div class='box'>
    <div class='row'>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'budget.jpg' %}" class="card-img-top" height=200 width=200>
          <div class="card-body">
            <h3 class="card-title">Add Expense</h3>
            <p class="card-text">Add  expenses here based on your budget in this Website. Manage your expenses efficiently. We will support you in doing it. Get started now 🙂.</p>

          </div>
          <div class="card-body">
            <a href="{% url 'signup' %}" class="card-link">Add Expense</a>
            <a href="{% url 'about' %}" class='card-link'>About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container ' style=' position:static;padding:0px 580px;'>
  <div class='box'>
    <div class='row'>
      <div class="col-md-4" >
        <div class="card" style="width: 18rem;">
          <img src="{% static 'expense.jpg' %}" class="card-img-top" height=200 width=200>
          <div class="card-body">
            <h3 class="card-title">Add Budget</h3>
            <p class="card-text">Add budget here based on your choices in this Website. Manage your transactions efficiently. We will support you in doing it. Get started now 🙂.</p>

          </div>
          <div class="card-body">
            <a href="{% url 'signup' %}" class="card-link">Add Budget</a>
            <a href="{% url 'about' %}" class='card-link'>About Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endif %}
</div>
{% endblock %}
