{% extends 'base.html' %}
{% block content %}
{% load  crispy_forms_tags %}
<div class = 'container'>
  <h2>{{user.username}}'s Profile Manager</h2>
  <hr/>
  <div class="row ">
<div class="col-md-3 ">
  <div class="card card-body border border-dark">
    <a class="btn btn-warning" href="{% url 'userprofile' user.username %}"> &#8592; Back to Profile</a>
    <hr>
    <h3 style="text-align: center">Account Settings</h3>
    <hr>
    <img class="rounded-circle mx-auto" width = 150 height = 150 src="{{user.profile.avatar.url}}" >

  </div>
</div>
<div class="col-md-9">
  <div class="card card-body border border-dark">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{form|crispy}}

    <button class="btn btn-primary" type="submit">Update Information</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
