{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class = 'container'>
  <h2>{{user.username}}'s Profile </h2>
  <hr/>
  <form method = 'POST' enctype = 'multipart/form-data'>
    {% csrf_token %}
    <div class="row ">
      <div class="col-sm-4">
        <div class="card card-body border border-dark" style = 'margin-bottom: 15px;'>
          <hr>
          <h3 style="text-align: center">Account Settings</h3>
          <hr>
          <img class="rounded-circle mx-auto border border-dark" width = 150 height = 150 src="{{user.profile.avatar.url}}" >
          <form method = 'POST' enctype = "multipart/form-data">
            {% csrf_token %}
            <div class = 'col'>
              {{profile_form.avatar|as_crispy_field}}
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <div class="col-md-8">
          <div class="card card-body border border-dark">
            <div class = 'form-row'>
              <div class = 'col-md-6'>
                {{user_form.username|as_crispy_field}}
              </div>
              <div class = 'col-md-6'>
                {{user_form.email|as_crispy_field}}
              </div>
            </div>
            <div class = 'form-row'>
              <div class = 'col-sm'>
                {{profile_form.bio|as_crispy_field}}
              </div>
            </div>
            <div class = 'inline-block'>
              <button class="btn btn-primary" style = "width:49%" type="submit">Update Profile</button>
              {% if user.is_authenticated and not backends.associated %}
              <a href = '{% url "new_password" %}' style = "width:49%" class = 'btn btn-primary'>New Password</a>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
