{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<div class = 'container'>
  <h2>{{user.username}}'s Profile </h2>
  <hr/>
  <form method = 'POST' enctype = 'multipart/form-data'>
    {% csrf_token %}
    {% for field in form %}
    <div class = 'form-group{% if field.errors %} alert alert-danger{% endif %}'>
      {{field.errors}}
      {{field.label_tag}}
      {% render_field field class='form-control' %}
    </div>
    {% endfor %}
    <br/>
    {% if user.is_authenticated and not backends.associated %}
      <a href = '{% url "new_password" %}' class = 'btn btn-primary'>Reset Password</a>
      <br/>
      <br/>
    {% endif %}
    <button type = 'submit' class = 'btn btn-success'>Update Profile</button>
  </form>
</div>
{% endblock %}
